# system files
.DS_Store

# build files
.cache/
build/
build_wasm/
build_wasm_dev/

# IDE files
.vscode/

# node
node_modules/

# zig prototype (merged from github master)
.sixth
.zig-cache
zig-x86_64-windows-0.15.2
